body {
    font-family: Arial, sans-serif;
    background-color: #8c72b5;
    padding: 40px;
}

/* Form Box */
form {
    background: rgb(40, 126, 173);
    width: 450px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/* FIELD: label left, input right */
.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.field label {
    width: 40%;      /* Left side */
    text-align: left;
}

.field input[type="text"],
.field input[type="date"] {
    width: 55%;      /* Right side */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Radio/Checkbox same left side */
.inline-group {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

/* Buttons on left */
.buttons {
    text-align: left;
    margin-top: 15px;
}

form input[type="submit"],
form input[type="reset"] {
    width: 100px;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

form input[type="reset"] {
    background-color: #d9534f;
}
